$primary-color: #3aabff;
$primary-color-hover: royalblue;
$bg-color: white;
$text-color: black;
$text-light-color: gray;
$hover-bg-color: rgb(224, 235, 255);
$primary-color-filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
$white-color-filter: brightness(0) invert(1);
$center-column-bg: lightgray;