@mixin flexColumn{
    display: flex;
    flex-direction: column;
}

@mixin flexRow{
    display: flex;
    flex-direction: row;
}

@mixin fill-available-width{
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

@mixin fit-content{
    width: fit-content;
    width: -moz-fit-content;
}

@mixin align-right{
    text-align: right;    
    text-align: -webkit-right;
    text-align: -moz-right;
}    

@mixin margin-auto {
    margin-left: auto;
    margin-right: auto;
}